{% extends 'main/base.html' %} {% block title %}Strona główna{% endblock %} 
{% block content %} {% for task in tasks %}
<div class="card mt-2">
  <div class="card-header"><strong>Zlecone przez:</strong>  {{ task.manager.username }} - {{ task.manager.first_name }} {{ task.manager.last_name }}</div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5 class="card-title">{{task.title}}</h5>
      <p>{{task.description}}</p>
      <p><strong>Osoba przypisana:</strong> {{task.worker.username}} - {{ task.worker.first_name }} {{ task.worker.last_name }}</p>
      <p><strong>Status:</strong> {{task.status}}</p>
    </div>
    <div>
      <a href="/update-task/{{task.id}}">
        <button class="btn btn-primary"> Modyfikuj </button>
      </a>
      {% if user == task.manager %}
      <form method="post">
        {% csrf_token %}
        <button
          type="submit"
          class="btn btn-danger"
          name="task-id"
          value="{{task.id}}"
        >
          Usuń
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="card-footer text-muted">{{task.created_at}}</div>
</div>
{% empty %}
<p>Brak zadań</p>
{% endfor %} {% endblock %}
